# Base de données
DB_USER=eanatra
DB_PASSWORD=eanatra_secret
DB_NAME=eanatra_db
DATABASE_URL=postgresql://eanatra:eanatra_secret@localhost:5432/eanatra_db

# JWT
JWT_SECRET=change_this_secret_in_production
JWT_EXPIRES_IN=7d

# IA (choisir un provider)
AI_PROVIDER=groq   # claude | openai | gemini

ANTHROPIC_API_KEY=sk-ant-...
OPENAI_API_KEY=sk-...
GEMINI_API_KEY=AIza...
GROQ_API_KEY=gsk_

# Frontend
VITE_API_URL=http://localhost:3001
